<% include ../layouts/head %>

<div id="main">
	<header class="group">
		<h1>Admin</h1>
		<a href="/logout?x=<%= Math.floor((Math.random()*100)+1) // http://stackoverflow.com/questions/13553420/how-to-force-chrome-not-to-cache-redirects %>">Sign Out</a>
	</header>

	<h2>Admins:</h2>
	<ul class="list">
	<% admins.forEach(function(admin) { %>
		<li id="admin-<%= admin.id %>" class="group">
			<span class="info"><%= admin.username %></span>
			<a href="/delete_admin?id=<%= admin.id %>" class="delete">X</a>
		</li>
	<% }); %>
	</ul>

	<hr />

	<h2>Ideas:</h2>
	<ul class="list" id="ideas-list">
	<% ideas.forEach(function(idea) { %>
		<li id="idea-<%= idea.id %>" class="group">
			<span class="info group">
				<span class="name"><%= idea.name %></span>
				<span class="date"><%= idea.prettyDate() %></span>
			</span>
			<a href="/delete_idea?id=<%= idea.id %>" class="delete">X</a>
		</li>
	<% }); %>
	</ul>
</div>

<% include ../layouts/foot %>